* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("bgsingin.jpg");
    background-size: cover;
}

.signup-register,
.login-register {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 600px;
    margin-bottom: 100px;
}

.login-register {
    left: -360px;
    margin-left: 850px;
}

button:hover {
    background-color: rgb(32, 82, 75);
    color: rgb(12, 180, 138);
}

h2,
label,
p {
    color: rgb(12, 180, 138);
    margin-left: 1em;
}

p a {
    color: rgb(12, 180, 138);
    text-decoration: none;
    transition: ease-in;
    margin-left: 0.5em;
}

p a:hover {
    text-decoration: underline;
    transition: 2s;
}

.container.active .signup-register {
    transform: translateX(-100%);
}

.container.active .login-register {
    transform: translateX(0%);
}